body {
    background-color: rgb(16, 155, 155);
    max-width: 1200px;
    margin: auto;
}

.hidden {
    visibility: hidden;
}


#title {
    font-family: "Courier New", Courier, monospace;
    text-shadow: 4.5px 4.5px rgb(80, 80, 80);
    font-size: 60px;
    text-align: center; 
    /*position: sticky;*/
    /*z-index: 1;*/
} 

#title #lost {
    color: rgb(255, 0, 0);
    font-size: 75px;
} 

#title #found {
    color: rgb(16, 245, 8);
    font-size: 75px;
} 


#new-item-form-container {
    border: 5px dotted rgb(80, 80, 80);
    background-color: rgb(60, 155, 160);
    width: 600px;
    margin: auto;
    /*position: sticky;
    top: 0;*/
}

#new-item-form-header {
    text-align: center;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;    
}


.item-container {
    float: left;
    width: 50%;
    /* margin: 20px 20px 20px 20px; */
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.item.unselected {
    height: 350px;
    /* border-bottom: 2px red;
    background-color: red; */
}


#found-item-container h3, #lost-item-container h3 {
    font-family: "Courier New", Courier, monospace;
    text-shadow: 3.5px 3.5px rgb(35, 35, 35);
    font-size: 60px;
    transform: rotate(-15deg);
    text-align: center;
    position: relative;
    top: -305px;
}

#lost-item-container h3 {
    color: rgb(255, 0, 0);
}

#found-item-container h3 {
    color: rgb(16, 245, 8);
}


img {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid rgb(80, 80, 80);
}